p,h4,.navbar-brand {
    color: white !important;
}
.bg-primary,
.btn-primary {
    background-color: #ff6fa4 !important;
}

.nav-link {
    font-size: 14px;
}

.absent {
    border-radius: 20px;
    border-color:#ff6fa4 !important;
    font-weight: 700;
    width: 50%;
    position: fixed;
    bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}